.header {
    position: fixed;
    top: 0%;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.navbar-top {
    margin-top: 8px;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

.progress-bar {
    height: 8px;
    background: orangered;
    width: 0%;
}

.content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
}

.container-margin {
    margin-top: 64px;
}

body {
    background-color: #212529;
    overflow-x: hidden;
}

.parallax-image {
    transition: transform 0.2s ease-out;
}

.zoom-card {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    margin: 0 auto;
}

.text-left {
    color: white;
    font-size: 20px;
}

.text-left {
    color: white;
    font-size: 20px;
}

.btn-enlarge {
    transition: transform 0.3s ease-in-out;
    /* Ajoute une transition pour l'effet de zoom */
}

.btn-enlarge:hover {
    transform: scale(1.1);
}

h1 {
    text-align: center;
    color: #FF6000;
    font-family: "fonts/Roboto/Roboto-Regular.ttf";
}

h2 {
    text-decoration: none;
}
.main-text {
    margin-left: 10px;
}

.container-margin {
    max-width: 100%;
    overflow-x: hidden;
}

.main  {
    margin-top: 80px;
}