.header {
    position: fixed;
    top: 0%;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.navbar-top{
    margin-top: 8px;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}
  
.progress-bar {
    height: 8px;
    background: orangered;
    width: 0%;
}
  
.content {
    padding: 100px 0;
    margin: 50px auto 0 auto;
    width: 80%;
}

.container-margin{
    margin-top: 64px;
}

body {
    background-color: #212529;
}

.parallax-image {
    transition: transform 0.2s ease-out;
}

.zoom-card {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    margin: 0 auto;
}

